.h11 {
    background-color: aqua;
    color: rgb(1, 100, 100);
    background-image: url(../photo/jojo.jpg);
    background-repeat: no-repeat;
}
.h55 {
    background-image: url(../photo/fruits.jpg);
    background-repeat:repeat;
    /* background-position: left top; */
    /* background-attachment: fixed; */
    background-size:contain;
    color:black;
    size: 60px;
}
.hy5 {
    background-image: url(../photo/mango.jpg);
    background-size:contain;
}
.hy3 {
    background-image: url(../photo/mango.jpg);
    background-size:cover;
}
.j1 {
    background-color: aquamarine;
    background-size: 100%;
    margin-left: 10%;
    margin-bottom: -1%;
    margin-top: 10%;
}
.o2 {
    color: aqua;
    background-color:lime;
    padding: 10px;
    width: 200px;
    font-size: 30px;
    margin:20px 20px 20px 20px;
    border-width: 10px;
    border-color: blue yellow ;
    border-style:solid;
    border-width: 20px;
}
.g2 {
    color: aqua;
    background-color:green;
    width: 400px;
    padding: 28px;
    border:20px solid;
    border-color:  rgb(255, 0, 251) red salmon pink;
    outline: 10px solid ;
    outline-color: aqua red salmon pink;
    border-radius: 1000px;
    display: block;
}
.o9 {
    padding-left: 130px;
}
.hif123{
    padding-left: 300px;
}
.h1{
color: rgb(247, 55, 132);
font-size: 400px;
padding-left: 30px;
}
.h2{
    color:greenyellow ;
    font-size: 200px;
}
.h3{
    color: rgb(192, 65, 255);
    font-size: 200px;
}
.h4{
    color: turquoise;
    font-size: 200px;
}
.rory {
    display: inline ;
}
.k1 {
    
    padding-top: 10px;
}